@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
}
nav.sticky {
    background: #fef;
    opacity: 95%;
    padding: 15px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
nav .logo {
    color: #fef;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
nav.sticky .logo {
    color: #450070;
}
nav ul {
    position: relative;
    display: flex;
}
nav ul li {
    position: relative;
    list-style: none;
}
nav ul li a {
    color: #fef;
    position: relative;
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
}
nav.sticky ul li a {
    color: #450070;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
section {
    padding: 100px;
}
.banner {
    position: relative;
    min-height: 100vh;
    background-color: #450070;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2 {
    font-size: 2.5em;
    color: #fef;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span {
    font-weight: 600;
    color: #ff0070;
}
.banner h3 {
    font-size: 1.5em;
    color: #fef;
    font-weight: 500;
}
.banner h4 {
    font-size: 1.2em;
    color: #fef;
    font-weight: 400;
}
.btn {
    position: relative;
    color: #fef;
    background-color: #ff3414;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
    border-radius: 30px;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: #fef;
}
.heading h2 {
    font-weight: 600;
    font-size: 30px;
}
.content {
    display: flex;
    justify-content: space-between;
    color: #fef;
}
.content-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
}




/* Responsive */
@media (max-width: 768px) {
    nav,
    nav.sticky {
        padding: 20px 50px;
        z-index: 1000;
    }
    .menu {
        position: fixed;
        top: 75px;
        right: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fef;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    .menu.active {
        right: 0;
    }
    nav ul li a {
        color: #450070;
        font-size: 22px;
        margin: 20px;
        justify-content: center;
        align-items: center;
    }
    .toggle {
        width: 40px;
        height: 40px;
        background: url(../images/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active {
        background: url(../images/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    nav.sticky .toggle {
        filter: invert(1);
    }
    section {
        padding: 100px 80px;
    }
    .banner {
        padding: 150px 50px 100px;
    }

}