@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    /* background-image: url(../images/forestNight.png); */
    background-size: contain;
}

/* NAV BAR */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 100px;
    background: #450070;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
}
nav.sticky {
    background: rgba(255, 238, 255, 0.95);
    padding: 10px 100px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}
nav .logo {
    color: #fef;
    font-size: 26px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
}
nav.sticky .logo {
    color: #450070;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    color: #fef;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    /* margin: 0 15px; */
    padding: 6px 15px;
    text-decoration: none;
}
nav ul li a:hover {
    color: #ff3414;
    font-weight: 600;
    transition: 0.3s;
}
nav.sticky ul li a {
    color: #450070;
}
nav.sticky ul li a:hover {
    color: #ff3414;
    font-weight: 700;
    transition: 0.3s;
}

nav a.active,
nav.sticky a.active {
    color: #ff3414;
    font-weight: 700;
    /* border-bottom: #faa699 4px solid; */
}

/* HOMEPAGE */

section {
    padding: 150px;
    background-color: #450070;
}
.banner {
    position: relative;
    min-height: 100vh;
    background-color: #450070;
    background-image: url(../images/forestNight.png);
    background-position: right;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner h2 {
    font-size: 3em;
    color: #fef;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span {
    font-weight: 600;
    color: #ff0070;
}
.banner h3 {
    font-size: 1.2em;
    color: #fef;
    font-weight: 400;
}

.btn {
    position: relative;
    color: #fef;
    background-color: #ff3414;
    display: inline-block;
    margin-top: 20px;
    padding: 8px 16px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    border-radius: 30px;
}
.btn:hover {
    font-weight: 600;
    transform: scale(1.1);
    transition: 0.5s;
    border: 3px solid #fef;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: #fef;
}
.heading h2 {
    font-weight: 600;
    font-size: 30px;
    color: #fef;
}
.content {
    display: flex;
    justify-content: space-between;
    color: #fef;
}
.content-box {
    padding-right: 30px;
}
.content-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.width-50 {
    min-width: 50%;
}
img {
    max-width: 100%;
}

footer {
    background-color: #fef;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 50px;

    font-size: 25px;
    font-weight: 600;

    width: 100%;;
    min-height: 200px;
    height: 300px;
}

footer .btn {
    padding: 5px 15px 5px 15px; 
}

footer .btn a {
    color: #fef;
    text-decoration: none;
}



/* Responsive */
@media (max-width: 768px) {
    nav,
    nav.sticky {
        padding: 15px 50px;
        z-index: 1000;
    }
    .menu {
        position: fixed;
        top: 70px;
        right: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 90vh;
        max-height: 100vh;
        background: rgba(255, 238, 255, 0.95);
        transition: 0.5s;
        z-index: 999;
        /* border-top: 1px solid rgba(0,0,0,0.2); */
    }
    .menu.active {
        right: 0;
    }
    nav ul li a {
        color: #450070;
        font-size: 22px;
        margin: 20px;
        justify-content: center;
        align-items: center;
    }
    .toggle {
        width: 40px;
        height: 40px;
        background: url(../images/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active {
        background: url(../images/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    nav.sticky .toggle {
        filter: invert(1);
    }
    section {
        padding: 100px;
    }

}